---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
const eventos = [
    {
        name: "Evento 1",
        date: "2023-10-01",
        description: "",
        price: 35,
        image: "https://upload.wikimedia.org/wikipedia/commons/3/32/Wikipedia_space_ibiza%2803%29.jpg",
    },
    {
        name: "Evento 2",
        date: "2023-10-02",
        description: "",
        price: 35,
        image: "https://upload.wikimedia.org/wikipedia/commons/3/32/Wikipedia_space_ibiza%2803%29.jpg",
    },
    {
        name: "Evento 1",
        date: "2023-10-01",
        description: "",
        price: 35,
        image: "https://upload.wikimedia.org/wikipedia/commons/3/32/Wikipedia_space_ibiza%2803%29.jpg",
    },
    {
        name: "Evento 1",
        date: "2023-10-01",
        description: "",
        price: 35,
        image: "https://upload.wikimedia.org/wikipedia/commons/3/32/Wikipedia_space_ibiza%2803%29.jpg",
    },
];
---

<Layout>
    <section class="flex gap-4 flex-wrap justify-around">
        {
            eventos.map(({ name, date, description, price, image }) => {
                return (
                    <Card
                        name={name}
                        date={date}
                        description={description}
                        price={price}
                        image={image}
                    />
                );
            })
        }
    </section>
</Layout>
